.btn-primary {
    background-color: crimson;
    border-color: crimson;
}
.btn-primary:hover {
    background: darkred;
    border-color: darkred;
}
.form-control {
    background-color: palegreen;
}
.form-control::placeholder {
    color: firebrick;
}
.navbar-form::placeholder {
    color: coral;
}
.form-control.bold {
    background-color: bisque;
}
.navbar-default {
    background-color: antiquewhite;
}
.page-form {
    background-color: antiquewhite;
}
.list-row-head {
    background-color: antiquewhite;
}